body {
  margin: 0;
  font-family: "Lora";
  background-color: #17161b;
}

.slick-slider {
  user-select: auto;
}

.page {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

.btn-img {
  position: relative;
  width: 426px;
  height: 137px;
}

.btn-img__act {
  position: relative;
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.btn-img__act:hover + .btn-img__inner::before {
  visibility: visible;
  opacity: 1;
}

.slick-active .btn-img__inner::after,
.btn-img__act:active + .btn-img__inner::after {
  visibility: visible;
  opacity: 1;
}

.slick-active .btn-img__inner::before,
.btn-img__act:active:hover + .btn-img__inner::before {
  visibility: hidden;
  opacity: 0;
}

.btn-img__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
  width: 565px;
  height: 234px;
  z-index: 0;
}

.btn-img__inner::before,
.btn-img__inner::after {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility .2s, opacity .2s;
}

.btn-img__inner::before,
.btn-img__inner::after,
.btn-img__bg {
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn-img__bg {
  background-image: url('../img/BTN_play_normal.png');
  z-index: 1;
}

.btn-img__inner::before {
  background-image: url('../img/BTN_play_hover.png');
  z-index: 2;
}

.btn-img__inner::after {
  background-image: url('../img/BTN_play_active.png');
  z-index: 3;
}

.btn__img_type_arrow {
  width: 68px;
  height: 28px;
}

.btn__img_type_arrow .btn-img__inner {
  width: 102px;
  height: 66px;
}

.btn__img_type_arrow .btn-img__bg {
  background-image: url('../img/BTN_scroll_normal.png');
}

.btn__img_type_arrow .btn-img__inner::before {
  background-image: url('../img/BTN_scroll_hover.png');
}

.btn__img_type_arrow .btn-img__inner::after {
  background-image: url('../img/BTN_scroll_active.png');
}

.section__scroll {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 88px;
  min-height: 966px;
  box-sizing: border-box;
  background-image: url('../img/1_HEADER/1_HEADER_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header__head {
  margin-top: -20px;
  margin-bottom: 40px;
}

.header__desc {
  margin: 0;
  color: rgb(238, 238, 238);
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  max-width: 942px;
}

.header__btn {
  margin-top: -20px;
  margin-bottom: 40px;
}

.fraction {
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: rgb(255, 50, 58);
  font-size: 21px;
  line-height: 1.333;
  text-shadow: 0px 5px 30px rgba(35, 27, 32, 0.004);
}

.fraction__img {
  margin-right: 15px;
}

.skills {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skills__item {
  display: flex;
  align-items: flex-start;
}

.skills__item + .skills__item {
  margin-top: 20px;
}

.skills__img {
  flex-shrink: 0;
  margin-right: 20px;
}

.skills__title {
  margin: 0;
  color: rgb(249, 244, 233);
  font-size: 24px;
  line-height: 1.5;
}

.skills__desc {
  margin: 0;
  margin-top: -2px;
  color: rgb(188, 190, 193);
  font-size: 16px;
  line-height: 1.40;
}

.chars {
  position: relative;
  min-height: 949px;
  box-sizing: border-box;
}

.chars__head {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.chars__desc {
  position: absolute;
  bottom: 105px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
  width: 100%;
  color: rgb(249, 244, 233);
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

.chars__heros {
  position: absolute;
  top: 160px;
  right: 18.1%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.chars__heros li + li {
  margin-top: 40px;
}

.chars__hero {
  width: 135px;
  height: 135px;
  border-radius: 50%;
}

.chars__hero .btn-img__inner {
  width: 140px;
  height: 140px;
}

.chars__hero .btn-img__bg {
  background-image: url('../img/2_CHARS/2_CHARS_icon_Isolda_inactive.png');
}

.chars__hero .btn-img__inner::before {
  background-image: url('../img/2_CHARS/2_CHARS_icon_Isolda_hover.png');
}

.chars__hero .btn-img__inner::after {
  background-image: url('../img/2_CHARS/2_CHARS_icon_Isolda_active.png');
}

.chars__hero_type_pamela .btn-img__bg {
  background-image: url('../img/2_CHARS/2_CHARS_icon_Pamela_inactive.png');
}

.chars__hero_type_pamela .btn-img__inner::before {
  background-image: url('../img/2_CHARS/2_CHARS_icon_Pamela_hover.png');
}

.chars__hero_type_pamela .btn-img__inner::after {
  background-image: url('../img/2_CHARS/2_CHARS_icon_Pamela_active.png');
}

.chars__hero_type_lleyn .btn-img__bg {
  background-image: url('../img/2_CHARS/2_CHARS_icon_Lleyn_inactive.png');
}

.chars__hero_type_lleyn .btn-img__inner::before {
  background-image: url('../img/2_CHARS/2_CHARS_icon_Lleyn_hover.png');
}

.chars__hero_type_lleyn .btn-img__inner::after {
  background-image: url('../img/2_CHARS/2_CHARS_icon_Lleyn_active.png');
}

.chars__hero + .chars__hero {
  margin-top: 40px;
}

.chars__slider {
  max-width: 100%;
}

.chars__item {
  min-height: 949px;
  background-repeat: no-repeat;
  background-size: cover;
}

.chars__info {
  margin-left: 20px;
  padding-top: 85px;
  max-width: 420px;
  text-align: left;
}

.chars__name {
  margin-left: -45px;
}

.chars__fraction {
  margin-top: -40px;
  margin-bottom: 30px;
}

.chars__desc-info {
  margin: 0;
  margin-bottom: 20px;
  color: rgb(249, 244, 233);
  font-size: 24px;
  line-height: 1.5;
  text-shadow: 0px 5px 30px rgba(35, 27, 32, 0.004);
}

.chars__skills {
  max-width: 410px;
}

.chars__prev,
.chars__next {
  position: absolute;
  top: 50%;
}

.chars__prev {
  transform: rotate(90deg) translateX(-80px);
  left: 70px;
}

.chars__next {
  transform: rotate(-90deg) translateX(80px);
  right: 70px;
}

.video {
  position: relative;
  overflow: hidden;
}

.video__video {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}

.video__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding-top: 25px;
  padding-bottom: 125px;
  width: 100%;
  height: 856px;
  box-sizing: border-box;
  background-image: url('../img/3_VIDEO/3_VIDEO_shadow_top.png'), url('../img/3_VIDEO/3_VIDEO_icon_play.png');
  background-repeat: no-repeat;
  background-position: 0 0, center;
  background-size: cover, auto;
}

.video__desc {
  margin: 0;
  margin-top: auto;
  color: rgb(249, 244, 233);
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

.mount {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 120px;
  min-height: 993px;
  box-sizing: border-box;
  background-image: url('../img/4_MOUNT/4_MOUNT_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.mount__head {
  margin-bottom: 607px;
}

.mount__ratings {
  position: absolute;
  left: 50%;
  top: 568px;
  transform: translateX(-51%);
  display: flex;
  justify-content: space-between;
  max-width: 1323px;
  width: 100%;
}

.mount__rating-img {
  margin-bottom: -35px;
}

.mount__level {
  margin: 0;
  color: rgb(255, 196, 25);
  text-align: center;
  font-size: 24px;
  line-height: 1.167;
  text-shadow: 0px 5px 30px rgba(35, 27, 32, 0.004);
}

.mount__desc {
  margin: 0;
  max-width: 1124px;
  width: 100%;
  color: rgb(249, 244, 233);
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
}

.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__item + .social__item {
  margin-left: 40px;
}

.social__btn {
  width: 71px;
  height: 80px;
}

.social__btn .btn-img__inner {
  width: 83px;
  height: 91px;
}

.social__btn .btn-img__act:active + .btn-img__inner .btn-img__bg  {
  visibility: hidden;
  opacity: 0;
  transition: none;
}

.social__btn .btn-img__bg {
  background-image: url('../img/5_FOOTER/5_FOOTER_btn_fb_normal.png');
}

.social__btn .btn-img__inner::before{
  background-image: url('../img/5_FOOTER/5_FOOTER_btn_fb_hover.png');
}

.social__btn .btn-img__inner::after{
  background-image: url('../img/5_FOOTER/5_FOOTER_btn_fb_active.png');
}

.social__btn_type_vk .btn-img__bg {
  background-image: url('../img/5_FOOTER/5_FOOTER_btn_vk_normal.png');
}

.social__btn_type_vk .btn-img__inner::before{
  background-image: url('../img/5_FOOTER/5_FOOTER_btn_vk_hover.png');
}

.social__btn_type_vk .btn-img__inner::after{
  background-image: url('../img/5_FOOTER/5_FOOTER_btn_vk_active.png');
}

.social__btn_type_ok .btn-img__bg {
  background-image: url('../img/5_FOOTER/5_FOOTER_btn_ok_normal.png');
}

.social__btn_type_ok .btn-img__inner::before{
  background-image: url('../img/5_FOOTER/5_FOOTER_btn_ok_hover.png');
}

.social__btn_type_ok .btn-img__inner::after{
  background-image: url('../img/5_FOOTER/5_FOOTER_btn_ok_active.png');
}

.social__btn_type_mail .btn-img__bg {
  background-image: url('../img/5_FOOTER/5_FOOTER_btn_mail_normal.png');
}

.social__btn_type_mail .btn-img__inner::before{
  background-image: url('../img/5_FOOTER/5_FOOTER_btn_mail_hover.png');
}

.social__btn_type_mail .btn-img__inner::after{
  background-image: url('../img/5_FOOTER/5_FOOTER_btn_mail_active.png');
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  min-height: 900px;
  box-sizing: border-box;
  background-image: url('../img/5_FOOTER/5_FOOTER_BG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__head {
  margin-bottom: 40px;
}

.footer__play {
  margin-bottom: 70px;
}

.footer__subtitle {
  margin: 0;
  margin-bottom: 40px;
  color: rgb(249, 244, 233);
  font-size: 24px;
  line-height: 1.125;
}

.footer__social {
  margin-bottom: 70px;
}

.footer__politic {
  margin: 0;
  margin-bottom: 30px;
  color: rgba(181, 181, 181, 0.502);
  text-align: center;
  font-size: 14px;
  line-height: 1.489;
}

.footer__politic-link {
  color: rgba(181, 181, 181, 0.502);
}

.footer__politic-link:hover {
  text-decoration: none;
}
